<div class="container border border-dark border-1 p-3">
    <h1>Daily</h1>
    <div class="container-fluid">

  
      <!-- Data Card Row -->
      <div class="row">
        <div class="row col-md-6 ">
          <div class="col-md-6">
            <div class="card bg-light shadow p-3 rounded">
              <h5>Total Readings Received</h5>
              <h3 class="text-success">{{ readingReceived }}</h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-light shadow p-3 rounded">
              <h5>Total Readings Pending</h5>
              <h3 class="text-danger">{{ readingPending }}</h3>
            </div>
          </div>
        </div>
        <div class="col-md-6 border border-dark border-1 p-3">
        <div style="height: 400px;">
          <div style="height: 400px;">
            <canvas #barChartCanvas></canvas>

      </div>
        </div>
      </div>
      <!-- Bar Chart -->
  
   
    </div>
  </div>
  
  
  